*{
    margin: 0 auto;
}
.gallery {
    border: 1px solid #ccc;
    position: relative;
/* width: 500px;
height: 370px; */
/* overflow: hidden; */
}

.gallery h4 {
    font-size: 14px;
    color: #2c94c4;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 11px;
    font-weight: bold;
    /* line-height: ; */
    margin: 0;
  

}
.gallery .gallery_btn{
    position: absolute; right: 5px;top: 7px;
}
.gallery .gallery_btn button{
   float: left;
    margin: 1px 2px;
    display: block;
    width: 23px;
    height: 23px;
    background: url(../img/icon.png) no-repeat;
    border: none;
}
/* .gallery .gallery_btn button:hover{
    border: none;
} */
.gallery .gallery_btn button span{
    display: none;
}

.gallery .gallery_btn .gb_icon1{
    background-position: -150px -120px;
}

.gallery .gallery_btn .gb_icon2{
    background-position: -150px -143px;
}

.gallery .gallery_btn .gb_icon3{
    background-position: -150px -166px;
}

.gallery .gallery_btn .gb_icon4{
    background-position: -150px -189px;
}

.gallery .gallery_btn .gb_icon1:hover {
    background-position: -173px -120px;
}

.gallery .gallery_btn .gb_icon2:hover {
    background-position: -173px -143px;
}

.gallery .gallery_btn .gb_icon3:hover {
    background-position: -173px -166px;
}

.gallery .gallery_btn .gb_icon4:hover {
    background-position: -173px -189px;
}
.gallery .gallery_img div img {
    width: 100%;
    /* float: left; */
}